### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
.idea/
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### Mac OS ###
.DS_Store

src/Bucles.java
src/CadenasTexto.java
src/CollectionSets.java
src/EjemplosScanner.java
src/EstructuraControl.java
src/Funciones.java
src/Listas.java
src/Main.java
src/Operadores.java
